<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nkcs.avp.backend.mapper.TaskMapper">
    <insert id="addTask" parameterType="nkcs.avp.backend.domain.Task">
        insert into `Task` value(#{identifier},#{uid},#{status},#{time},#{code},#{mode},#{sample},#{lang},#{animation});
    </insert>
    <update id="updateTask" parameterType="nkcs.avp.backend.domain.Task">
        update `Task` set `status` = #{status}, `animation` = #{animation}
        where `identifier` = #{identifier}
    </update>
    <select id="getAllTaskById" parameterType="long" resultType="nkcs.avp.backend.domain.Task">
        select * from `Task` where `uid` = #{uid}
    </select>
</mapper>