<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nkcs.avp.backend.mapper.TaskMapper">
    <insert id="addTask" parameterType="nkcs.avp.backend.domain.Task">
        insert into `Task` value(#{identifier},#{uid},#{status},#{time},#{code},#{mode},#{sample},#{lang},#{animation},#{tag},#{shared});
    </insert>
    <update id="updateTask" parameterType="nkcs.avp.backend.domain.Task">
        update `Task` set `status` = #{status}, `animation` = #{animation}, `shared` = #{shared}
        where `identifier` = #{identifier}
    </update>
    <select id="selectCondition" parameterType="map" resultType="nkcs.avp.backend.domain.Task">
        select * from `Task`
        <where>
            <if test="uid != null">
                AND `uid` = #{uid}
            </if>
            <if test="tag != null">
                AND `tag` like #{tag}
            </if>
            <if test="lang != null">
                AND `lang` = #{lang}
            </if>
            <if test="mode != null">
                AND `mode` = #{mode}
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
        </where>
        order by `time` desc limit #{start},#{length}
    </select>
    <delete id="deleteById" parameterType="string">
        delete from `Task` where `identifier` = #{identifier}
    </delete>
    <select id="getById" parameterType="string" resultType="nkcs.avp.backend.domain.Task">
        select * from `Task` where `identifier` = #{identifier}
    </select>

</mapper>