<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nkcs.avp.backend.mapper.UserMapper">
    <select id="getUserByName" resultType="nkcs.avp.backend.domain.User" parameterType="string">
        select * from `User` where mail = #{mail}
    </select>
    <insert id="addUser" parameterType="nkcs.avp.backend.domain.User">
        insert into `User` value(NULL,#{mail},#{pwd});
    </insert>
    <update id="updatePwd" parameterType="nkcs.avp.backend.domain.User">
        update `User` set `pwd` = #{pwd}
        where `id` = #{id}
    </update>
</mapper>